<html>

<head>
    <title>Parceiros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

    <link rel="icon" href="../assets/img/misture-icon.png">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/pages-css/parceria.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="../assets/js/fontawesome.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/38eec7dec7.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../assets/js/pages-scripts/parceria.js"></script>


    <script>
        $.get("../controller/UsuarioController.php?getUserId=1", function(data, status) {
            if (!data) {
                //Não existe usuário logado
                location.href = "../view/login.html?noUser=1";
            }
        });
    </script>

</head>

<body>
    <div id="customDialog" class="flex justify-content-center items-center">
    </div>

    <!-- Formulário -->
    <div class="sidebarCommon">
        <div class="sidebarHeader">
            <div class="closeSidebar">
                <img src="../assets/img/close-icon.svg" alt="close-sidebar" />
            </div>
            <p class="sidebarTitle">Cadastrar Nova Parceria</p>
        </div>
        <div class="sidebarContent flex-grow-1">
            <form id="parceriaForm" class="formClass" enctype="multipart/form-data">
                <div class="flex-grow-1">
                    <input type="hidden" id="hiddenParceriaId">
                    <fieldset class="mb-16">
                        <legend class="customLegend">Informações Gerais</legend>
                        <div class="w-100">
                            <div id="headerNome" class="flex justify-space-between">
                                <label for="nome">Nome</label>
                            </div>
                            <input
                                type="text"
                                name="nome"
                                id="nome"
                                class="customInput"
                                placeholder="Ex: Universidade Federal de Uberlândia"
                            />
                        </div>

                        <div class="w-100 mt-8">
                            <div id="headerLink" class="flex justify-space-between">
                                <label for="link">Link</label>
                            </div>
                            <input
                                type="text"
                                name="link"
                                id="link"
                                class="customInput"
                                placeholder="Ex: http://www.ufu.br/"
                            />
                        </div>

                        <div class="flex mt-8">
                            <div class="w-50 mr-8">
                                <div id="headerInicio" class="flex justify-space-between">
                                    <label for="inicio">Data Inicio</label>
                                </div>
                                <input
                                    type="text"
                                    name="inicio"
                                    id="inicio"
                                    class="customInput"
                                    placeholder="Ex: 01/01/2020"
                                />
                            </div>
                            <div class="w-50 ml-8">
                                <div id="headerFim" class="flex justify-space-between">
                                    <label for="fim">Data Fim</label>
                                </div>
                                <input
                                    type="text"
                                    name="fim"
                                    id="fim"
                                    class="customInput"
                                    placeholder="Ex: 31/12/2021"
                                />
                                <div style="position: absolute;">
                                    <span style="color: gray;">Deixe em branco caso não tenha!</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="mb-16">
                        <legend class="customLegend">Imagem</legend>
                        <div id="logoInput" class="flex w-100">
                            <div class="mr-8 w-100">
                                <div id="headerLogo" class="flex justify-space-between">
                                    <label for="logo">Logo do Parceiro (JPG, JPEG ou PNG)</label>
                                </div>
                                <input 
                                    type="file" 
                                    name="logo"
                                    id="logo" 
                                    class="customInput"
                                    style="padding-top: 1px;"
                                />
                            </div>
                        </div>
                        <div id="logoImg" class="flex align-items-center justify-center mt-32">

                        </div>
                    </fieldset>
                </div>
                <div id="buttonsDiv" class="flex justify-end items-end" style="margin-top: 20px; padding-bottom: 16px;">
                    <div id="buttonsCadastrar">
                        <button 
                            type="button"
                            id="limparForm"
                            class="whiteButton buttonPadding"
                            style="height: 40px;"
                        >
                            Limpar
                        </button>
                        <button
                            type="submit"
                            id="substanciaSubmit"
                            class="greenButton buttonPadding"
                            style="height: 40px; margin-left: 10px;"
                        >
                            Cadastrar
                        </button>
                    </div>
                    <div id="buttonDeleteAndEdit" style="display: none;">
                        <button 
                            type="button"
                            id="editarParceria"
                            class="whiteButton buttonPadding"
                            style="height: 40px;"
                        >
                            Editar
                        </button>
                        <button 
                            type="button"
                            id="salvarEdicao"
                            class="whiteButton buttonPadding"
                            style="height: 40px; display: none;"
                        >
                            Salvar
                        </button>
                        <button
                            type="button"
                            id="deleteParceria"
                            class="redButton buttonPadding"
                            style="height: 40px; margin-left: 10px;"
                        >
                            Excluir
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Topbar -->
    <div class="topbar justify-space-between">
        <div class="flex">
            <div class="cursor-pointer" id="open-menu">
                <i class="fas fa-bars" style="font-size: 21px;"></i>
            </div>
            <span id="user-name" style="margin-left: 8px;">
            </span>
        </div>
        <!-- <div>
            <img class="logoImg" src="../assets/img/refmixagri-logo.png"/>
        </div> -->
    </div>

    <!-- Menu -->
    <div class="menu">
        <div class="d-flex" style="flex-direction: column; justify-content: space-between; flex: 1 1 auto;">
            <div id="menuAppend" class="left-side">
                <div class="menu-item">
                    <a class="link" href="./substancia.html">
                        <img src="../assets/img/substance.svg" />
                        Substância
                    </a>
                </div>
                <div class="menu-item">
                    <a class="link" href="./resultado.html">
                        <img src="../assets/img/ref.svg" />
                        Resultado
                    </a>
                </div>
            </div>
            <div class="menu-item" style="margin-right: 10px;">
                <a class="link" href="../controller/UsuarioController.php?deslogar=1">
                    <img src="../assets/img/logout.svg" />
                    Sair
                </a>
            </div>
        </div>
    </div>

    <!-- Conteúdo -->
    <div class="container-fluid containerSize justify-center">
        <div class="content">
            <!-- Cabeçalho e Botão de Abrir o Modal -->
            <div class="w-100 d-flex justify-space-between" style="margin-bottom: 7px;">
                <h2 style="display: inline-block;"> Parcerias </h2>
                
                <button type="button" class="openSidebar greenButton buttonPadding">
                    <i class="fas fa-plus" style="margin: 3px 7px 0 -7px;font-size: 18px;"></i>
                    PARCERIA
                </button>
            </div>

            <!-- Carregamento de misturas -->
            <div class="parceriasWrapper">
            </div>
        </div>
        
    </div>

</body>

</html>