@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
body {
  font-family: 'Roboto', sans-serif !important;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  background-image: linear-gradient(to right, #55eb44, #23c235, #25d93a);
}

.topbar img {
  margin-left: 30px;
  height: 50px;
}

.topbar button {
  font-weight: bold;
  font-size: 1rem;
  height: 37px;
  padding: 0 45px;
  margin-right: 30px;
  border: 2px solid #1B5E20;
  border-radius: .25rem;
  background-color: #1B5E20;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.content {
  display: flex;
  flex-direction: column;
}

.side {
  padding: 8px 20px 20px 20px;
}

.our-project p {
  text-indent: 50px;
}

.span-misture {
  color: #1B5E20;
  font-weight: bold;
}

.span-positivos {
  color: red;
  font-weight: bold;
}
.span-negativos {
  color: green;
  font-weight: bold;
}

.bottom {
  margin-top: 40px;
}

.to-thank {
  padding: 10px;
  display: flex;
  overflow-x: auto;
}

.thanks {
  width: 150px;
}

.thanks + .thanks {
  margin-left: 40px;
}

.thanks a {
  cursor: pointer;
}

.thanks img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: contain;
  box-shadow: 4px 5px 15px 3px #aaa;
}

.thanks p {
  text-align: center;
  font-size: 12px;
  color: #333;
}

.left-side h1 {
  margin: 0 0 16px 0 !important;
  color: #333;
}

.right-side h1 {
  margin: 0 0 16px 0 !important;
  color: #333;
}

.our-team {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.integrant {
  display: flex;
  height: 180px;
  width: 100%;
  box-shadow: 4px 5px 15px 3px #aaa;
}

.integrant + .integrant {
  margin-top: 16px;
}

.integrant > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
}

.description .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description h2 {
  margin: 0;
  color: #333;
}

.description h4 {
  margin: 0;
  color: #666;
}

@media only screen and (min-width: 1260px) {
  .content {
    display: flex;
    flex-direction: row;
  }
  .side {
    width: calc(100%/2);
  }
}
