body{

	margin:0%;
	padding:0%;			
	
	font-family:"sans-serif";

}

.caixa_interna{

	margin-left:5%;
	margin-top:5%;
	
	

	
}


.subcaixa{

	margin-left:50%;
	margin-top:-40%;
	

}

.imgproduto{

	
	padding-left:;
	margin-top:-26%;
	border-left:4px solid black;
	
	
	

}

.subcaixa h2{

	margin-top:45%;
	color:red;
	


}

h2{
	
	
	margin-left:53%;
	margin-top:10%;	
	color:red;

}

.botao{

	margin-top:15%;
	width:40%;
	height:9%;
	border:0;
	background-color:black;
	color:white;
	
}

.quantidade{

	width:30%;
	height:5%;
	margin-top:5%;

}


.subcaixa p{

	 text-justify: inter-word;


}

h1{

	margin-left:53%;
	margin-top:4%;
	
}

p{

	margin-left:53%;


}

img{
	

}

#msgdiv{

	color:red;
	margin-top:2%;
	margin-left:15%;

}


